Django==1.7
Pillow==2.5.3
South==1.0
django-braces==1.4.0
django-celery==3.1.16
git+git://github.com/ottoyiu/django-cors-headers.git
django-extensions==1.4.0
django-filter==0.7
django-uuidfield==0.5.0
djangorestframework==2.4.3
djoser==0.1.0
httplib2==0.9
simplejson==3.6.3
six==1.8.0