{% extends 'base.html' %}

{% block pageTitle %}<i class="fa fa-user"></i> User Profile {% endblock %}

{% block breadcrumb %}
  <span class="divider">/</span>
  <span class="bread-current">User Profile</span>
{% endblock %}

{% block main-content %}

  <div class="row">

    <div class="col-md-6">
      <div class="widget">
        <!-- Widget title -->
        <div class="widget-head">
          <div class="widget-icons pull-left">
          <a href="/staff/edit/{{ profile.id }}" class="btn btn-inverse btn-xs" >Edit Profile</a>
          <!--a href="#" class="wclose"><i class="fa fa-times"></i></a-->
        </div>

        <div class="widget-icons pull-right">
          <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
          <!--a href="#" class="wclose"><i class="fa fa-times"></i></a-->
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <!-- Widget content -->
        <div class="row">
          <div class="col-sm-4">
            <div class="img-rounded">
              <img class="media-object" alt="64x64" data-src="holder.js/64x64" style="width: 100%; height: 100%" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+">
            </div>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-3">Full Name</div>
              <div class="col-sm-9">{{ profile.first_name }} {{ profile.last_name }}</div>
            </div>
            <div class="row">
              <div class="col-sm-3">User Name</div>
              <div class="col-sm-9">{{ profile.username }}</div>
            </div>
            <div class="row">
              <div class="col-sm-3">Email</div>
              <div class="col-sm-9">{{ profile.email }}</div>
            </div>
            <div class="row">
              <div class="col-sm-3">Phone</div>
              <div class="col-sm-9">{{ profile.userprofile.phone }}</div>
            </div>
          </div>
        </div>

        <div class="widget-foot">
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="widget">
      <!-- Widget title -->
      <div class="widget-head">
        Awaiting Approval
        <div class="widget-icons pull-right">
          <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
          <!--a href="#" class="wclose"><i class="fa fa-times"></i></a-->
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <!-- Widget content -->
        <table class="table table-bordered table-condensed table-stripped table-responsive ">
          <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Appointment Starts</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% for awaiting in awaiting_approval %}
            <tr id="approve-{{ awaiting.uuid }}">
              <td><a id="view-visitor-detail" class="pointer">{{ awaiting.visitor_id.first_name }} {{ awaiting.visitor_id.last_name }}</a></td>
              <td>{{ awaiting.visitor_id.visitors_phone }}</td>
              <td>{{ awaiting.arrival_date }} {{ awaiting.visit_start_time }}</td>
              <td><button appointment="{{ awaiting.uuid }}" user="{{ profile.id }}" class="btn-danger pointer approve">Approve</button></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <div class="widget-foot">
        </div>
      </div>
    </div>

    <div class="widget">
      <!-- Widget title -->
      <div class="widget-head">

        <div class="widget-icons pull-right">
          <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
          <!--a href="#" class="wclose"><i class="fa fa-times"></i></a-->
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <!-- Widget content -->
        <table class="table table-bordered table-condensed table-stripped table-responsive ">
          <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Appointment Starts</th>
            <th>Appointment Ends</th>
          </tr>
          </thead>
          <tbody id="data-bank">
          {% for awaiting in approved %}
            <tr id="approve-{{ awaiting.uuid }}">
              <td><a id="view-visitor-detail" class="pointer">{{ awaiting.visitor_id.first_name }} {{ awaiting.visitor_id.last_name }}</a></td>
              <td>{{ awaiting.visitor_id.visitors_phone }}</td>
              <td>{{ awaiting.arrival_date }} {{ awaiting.visit_start_time }}</td>
              <td>{{ awaiting.departure_datedeparture_date }} {{ awaiting.visit_end_time }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <div class="widget-foot">
        </div>
      </div>
    </div>
  </div>

  </div>

{% endblock %}

{% block custom_js %}
  <script>

    $('.approve').click(function() {
      var domObject = $(this);
      var appointment_id = $(this).attr('appointment');
      var user_id = $(this).attr('user');
      var response = confirm('The Appointment will be approved and the visitor notified\n are you sure?');
      if (response) {
        $('#approve').attr('disabled', 'disabled');
        $.ajax({
          url: '/staff/approve-appointment/'+user_id+'/'+appointment_id,
          success: function(response) {
            $('.approve-'+appointment_id).addClass('hide');
            $('#data-bank').html(response.html);
          }
        })
      }
    });

  </script>
{% endblock %}