<form class="form-horizontal" enctype="multipart/form-data" method="POST" action="/rest/visitors/">
  <fieldset>
    <input type="hidden" value="YQlkC2CZknkQwcEWsyHorKkVsUV000g4" name="csrfmiddlewaretoken">
    <div class="control-group ">
      <label class="control-label" for="changed_by">changed by:</label>
      <div class="controls">
        <select name="changed_by" id="changed_by">
          <option selected="selected" value="">---------</option>
          <option value="http://localhost:8000/rest/users/1/">admin - http://localhost:8000/rest/users/1/</option>
        </select>
      </div>
    </div>
    <div class="control-group ">
      <label class="control-label" for="first_name">first name:</label>
      <div class="controls">
        <input type="text" name="first_name" id="first_name">
      </div>
    </div>
    <div class="control-group ">
      <label class="control-label" for="last_name">last name:</label>
      <div class="controls">
        <input type="text" name="last_name" id="last_name">
      </div>
    </div>
    <div class="control-group ">
      <label class="control-label" for="visitors_email">visitors email:</label>
      <div class="controls">
        <input type="text" name="visitors_email" id="visitors_email">
      </div>
    </div>



    <div class="control-group ">
      <label class="control-label" for="visitors_phone">visitors phone:</label>
      <div class="controls">
        <input type="text" name="visitors_phone" id="visitors_phone">


      </div>
    </div>



    <div class="control-group ">
      <label class="control-label" for="date_of_birth">date of birth:</label>
      <div class="controls">
        <input type="text" name="date_of_birth" id="date_of_birth">


      </div>
    </div>



    <div class="control-group ">
      <label class="control-label" for="state_of_origin">state of origin:</label>
      <div class="controls">
        <input type="text" value="0" name="state_of_origin" id="state_of_origin">


      </div>
    </div>



    <div class="control-group ">
      <label class="control-label" for="lga">lga:</label>
      <div class="controls">
        <input type="text" value="0" name="lga" id="lga">


      </div>
    </div>



    <div class="control-group ">
      <label class="control-label" for="image_url">image url:</label>
      <div class="controls">
        <input type="text" name="image_url" id="image_url">


      </div>
    </div>



    <div class="control-group ">
      <label class="control-label" for="fingerprint">fingerprint:</label>
      <div class="controls">
        <input type="text" name="fingerprint" id="fingerprint">


      </div>
    </div>



    <div class="control-group ">
      <label class="control-label" for="visitors_pass_code">visitors pass code:</label>
      <div class="controls">
        <input type="text" name="visitors_pass_code" id="visitors_pass_code">


      </div>
    </div>



    <div class="form-actions">
      <button title="Make a POST request on the Visitors List resource" class="btn btn-primary">POST</button>
    </div>
  </fieldset>
</form>