{% extends 'base.html' %}
{% block pageTitle %}<i class="fa fa-users"></i> Apointments List {% endblock %}
{% block breadcrumb %}
<span class="divider">/</span>
  <span class="bread-current">Apointments</span>
{% endblock %}

{% block main-content %}
  <a class="btn btn-default" href="/appointments/add-appointment"><i class="fa fa-plus-circle"></i> Add Appointment</a>

<div class="row">

  <div class="col-md-12">
    <div class="widget">
      <!-- Widget title -->
      <div class="widget-head">

        <div class="widget-icons pull-right">
          <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
          <!--a href="#" class="wclose"><i class="fa fa-times"></i></a-->
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <!-- Widget content -->

        <table class="table table-striped table-bordered table-condensed table-responsive">
       <thead>
            <tr>
              <th>#</th>
              <th>Full Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Arrival Date</th>
              <th>Start Time</th>
              <th>Checked In</th>
              <th>Host</th>
              <th>Host Phone</th>
              <th>Department</th>
              <th>Approved</th>
            </tr>
          </thead>
          <tbody>
          {% for row in object_list %}
            <tr>
              <td>1</td>
              <td>{{ row.visitor_id.first_name }} {{ row.visitor_id.last_name }}</td>
              <td>{{ row.visitor_id.visitors_email }}</td>
              <td>{{ row.visitor_id.visitors_phone }}</td>
              <td>{{ row.arrival_date }}</td>
              <td>{{ row.visit_start_time }}</td>
              <td class="text-center">
                {% ifequal row.checked_in None %}
                  <i class="fa fa-minus-circle text-danger"></i>
                {% else %}
                  {{ row.checked_in }}
                {% endifequal %}
              </td>
              <td>{{ row.host_id.user_id.first_name }} {{ row.host_id.user_id.last_name }}</td>
              <td>{{ row.host_id.phone }}</td>
              <td>{{ row.host_id.department }}</td>
              <td class="text-center">
                {% if row.approved %}
                  <i class="fa fa-check-circle text-success"></i>
                {% else %}
                  <i class="fa fa-minus-circle text-danger"></i>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
          </table>
        <div class="widget-foot">
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}