{% extends 'base.html' %}


{% block  main-content %}
<div class="row">

  <div class="col-md-12">
    <div class="widget">
      <!-- Widget title -->
      <div class="widget-head">
        <div class="pull-left">Appointments in Progress</div>
        <div class="widget-icons pull-right">
          <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
          <!--a href="#" class="wclose"><i class="fa fa-times"></i></a-->
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <!-- Widget content -->

        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Full Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Checked In</th>
              <th>Host</th>
              <th>Host Phone</th>
              <th>Department</th>
            </tr>
          </thead>
          <tbody>
          {% for row in in_progress %}
            <tr>
              <td>1</td>
              <td>{{ row.visitor_id.first_name }} {{ row.visitor_id.last_name }}</td>
              <td>{{ row.visitor_id.visitors_email }}</td>
              <td>{{ row.visitor_id.visitors_phone }}</td>
              <td>{{ row.appointment_id }}</td>
              <td>{{ row.checked_in }}</td>
              <td>{{ row.host_id }}</td>
              <td>{{ row.host_id.phone }}</td>
              <td>{{ row.host_id.department }}</td>
            </tr>
          {% endfor %}
          </tbody>
          </table>


        <div class="widget-foot">
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">


  <!-- Black widget -->
  <div class="col-md-6">
    <div class="widget">
      <!-- Widget title -->
      <div class="widget-head">
        <div class="pull-left">Black Listed Visitors</div>
        <div class="widget-icons pull-right">
          <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
          <!--a href="#" class="wclose"><i class="fa fa-times"></i></a-->
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <!-- Widget content -->

          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <!--th>Last Visit Date</th-->
                <th>Offence</th>
              </tr>
            </thead>
            <tbody>
              {% for row in black_listed %}
            <tr>
              <td>1</td>
              <td>{{ row.first_name }} {{ row.visitor_id.last_name }}</td>
              <td>{{ row.visitors_email }}</td>
              <td>{{ row.visitors_phone }}</td>
              <!--td>{{ row.checked_in }}</td-->
              <td>{{ row.offence }}</td>
            </tr>
          {% endfor %}
            </tbody>
          </table>


        <div class="widget-foot">
        </div>
      </div>
    </div>
  </div>



  <!-- Server Status -->
  <div class="col-md-6">
    <div class="widget">
      <!-- Widget title -->
      <div class="widget-head">
        <div class="pull-left">Approved Appointments</div>
        <div class="widget-icons pull-right">
          <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
          <!--a href="#" class="wclose"><i class="fa fa-times"></i></a-->
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <!-- Widget content -->

        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Full Name</th>
              <th>Host</th>
              <th>Department</th>
              <th>Date</th>
              <th>Start Time</th>
              <th>End Time</th>
            </tr>
          </thead>
          <tbody>
            {% for row in approved %}
            <tr>
              <td>1</td>
              <td>{{ row.visitor_id.first_name }} {{ row.visitor_id.last_name }}</td>
              <td>{{ row.host_id }}</td>
              <td>{{ row.host_id.phone }}</td>
              <td>{{ row.host_id.department }}</td>
              <td>{{ row.arrival_date }}</td>
              <td>{{ row.visitor_start_time }}</td>
              <td>{{ row.visit_end_time }}</td>
            </tr>
          {% endfor %}
          </tbody>
          </table>

        <div class="widget-foot">
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}