<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .mb{
            margin-bottom: 20px;;
        }
    </style>
</head>
<body>
<div class="mb" style="width: 388px; height: 200px; border: 2px solid #000; padding-left: 10px; padding-right: 10px;">
    <div style="font-size: 150%; font-weight: bold; text-align: center">Visitor Pass</div>
    <div>
        <div style="float: left; width: 40%;">
            <div style="width: 95%; background: #cccccc; margin-top: 5%; margin-bottom: 5%; height: 100px">
            </div>
        </div>
        <div style="float: right; width: 55%;">
            <div style="font-size: 110%; margin-bottom: 10px">Musa Yahaya Musa</div>
            <div style="font-size: 80%;">Host: Ese Shakarho</div>
            <div style="font-size: 80%;">Department: Info Tech</div>
            <div style="font-size: 80%;">2nd Flour, Room 101</div>
            <div style="font-size: 90%; font-weight: bold">Pass Code, 0000001</div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div>
        <img style="width: 50%; max-height: 50px;" alt="star" src="data:image/gif;base64,{{ image_code }}" />
    </div>
</div>
</body>
</html>